# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
android/**/GeneratedPluginRegistrant.*

# OS
.DS_Store

# 認証情報（コミット禁止）
android/app/google-services.json
